[submodule "inputs/studyforrest-speechannotation"]
	path = inputs/studyforrest-speechannotation
	url = chaeusler@juseless.inm7.de:/data/group/psyinf/studyforrest-speechannotation
	branch = master
	datalad-id = cacc9298-faed-11e9-9b76-e86a64c80559
